*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(images/tva.png);
    background-size: cover;

    color: rgb(255, 128, 60);
}
.nav{
    padding: 36px 18px;
    display: flex;
    justify-content: space-between;
}
.window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.25);
    border: 2px solid #000;
    border-radius: 20px;
}
.move{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
}
img{
    height: 64px;
    width: 64px;
    border-radius: 50%;
}
h1{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
p{
    font-family: "Inter", sans-serif;
}

.selected{
    border: 5px solid rgb(255, 128, 60);
}

.journal{
    display: none;
}