*{
  padding: 0;
  margin: 0;
}
body{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(255, 128, 60);
}
.nav{
  padding: 36px 18px;
  display: flex;
  justify-content: space-between;
}
.icons_bar{
  position: relative;
  width: fit-content;
  padding: 18px;
  display: flex;
  flex-direction: column;
  background: #b8b3f5a1;
}
.icon{
  height: fit-content;
}
.icon img{
  height: 64px;
}
.window{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: fit-content;
  padding: 0;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.25);
  border: 2px solid #000;
  border-radius: 20px;
}
.windowheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: move;
  padding: 0 12px;
  height: 60px;
  background-color: #000;
  border-radius: 20px;
}

.window_icons{
  display: flex;
  align-items: center;
  gap: 6px;
}
.window_icons .window_icon {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  cursor: pointer;
}
.window_icons p {
  margin-left: 6px;
}


.intro_content img{
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
.intro_content h1{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.intro_content p{
  font-family: "Inter", sans-serif;
}

.selected{
  border: 5px solid rgb(255, 128, 60);
}

/* journal window */
.journal{
  display: flex;
  width: 730px;
  height: 600px;
}
.journal_icons{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  gap: 24px;
}
.journal_icons .save_btn{
  height: 38px;
  width: 62px;
  display: none;
  align-items: center;
  padding: 0 8px;
  border-radius: 20px;
  background-color: #8ca5fe;
}
.journal_icons .edit_icon{
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #6485ff;
}
.journal_book{
  position: relative;
  height: 100%;
  margin: 6px 12px;
  display: flex;
  flex-direction: column;
}
.journal_book img{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  z-index: -1;
}

.journal_content{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 18px;
  gap: 45px;
}

.md_content{
  height: 100%;
  width: 200px;
}